{% extends "layout.html" %}
{% block head %}
<script type="text/javascript" src="{{url_for('static', filename='js/learn.js')}}"></script>
<script>
    let learn_sections = {{ learn_sections | tojson }}
    let lessons = {{ lessons | tojson }}
    let lesson_id = parseInt("{{ lesson }}")
</script>
{% endblock %}

{% block content %}
<div class="learn-container">

    {% if lesson == "1" %}
    <div class="section">
        <div class="text-center mb-4 section-header "></div>
        <div class="learn-text"></div>
        <div class="learn-img"></div>
        <div class="learn-text-sm"></div>
    </div>
    {% else %}
    <div class="text-center mb-4 lesson-header"></div>
    <div class="learn-text"></div>
    <div class="attributes"></div>
    <div class="learn-img"></div>
    <div class="learn-text-sm"></div>
    {% endif %}

    <div class="nav-buttons">
        <button class="btn nav-btn" id="prevBtn">Back</button>
        <button class="btn nav-btn" id="nextBtn">Next</button>
    </div>
</div>
{% endblock %}