{% extends "layout.html" %}
{% block head %}
<script type="text/javascript"
        src="{{url_for('static', filename='mini_simulator.js')}}"></script>
<script>
    let part = parseInt("{{ part }}")
</script>
{% endblock %}

{% block content %}
<div>Work in Progress</div>
<div>(Mini simulation pages to test each feng shui concept)</div>
<div class="learn-container">
    <!-- TODO -->

    <div class="nav-buttons">
        <button class="btn btn-primary nav-btn" id="prevBtn" disabled>Back</button>
        <button class="btn btn-primary nav-btn" id="nextBtn">Next</button>
    </div>
</div>
{% endblock %}
